build/*
.vscode/*
.editorconfig
*.tofino
build
.vscode
*.log
zlog-cfg-cur
garbage
*.log.*
build*
.cache
third_party
data
*.jpg
bigleg
scripts/*_res*
scripts/v_res
tmp_cmd.sh
scripts/pic
scripts/paper
scripts/data
pptx
scripts/__pycache__
scripts/autorun_app_file*